.App {
  text-align: center;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  background:rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.2rem;
  color:white;
  font-weight: bold;
}
.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(img/headset.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.text-input {
  background:rgba(255,255,255,0.2);
  border-top:1px solid white;
  height: 3.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn {
  position: absolute;
  right:0.4rem;
  top:0.85rem;
  color: white;
  border-radius: 100%;
  border: 1px solid white;
  background-color: rgba(34, 81, 235, 0.75);
  cursor: pointer;
  outline: none;
  height: 1.55rem;
  width: 1.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn[disabled] {
  cursor: default;
  background: gray;
}

.input-bar {
  height:1.6rem;
  width: calc(100% - 1.5rem);
  color: white;
  border-radius: .9rem;
  border: .5px solid white;
  background-color: black;
  padding-left: 12px;
  margin-bottom: 4px;
  outline: none;
}

.view-messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row{
  width: 100%;
}

.message{
  background-color: black;
  color: white;
  border-radius: 15px;
  margin: 3px;
  display: inline-block;
  padding: .25rem .75rem;
  text-align: left;
}