.App {
  text-align: center;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  background:rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.2rem;
  color:white;
  font-weight: bold;
}
.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(img/headset.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.text-input {
  background:rgba(255,255,255,0.2);
  border-top:1px solid white;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn {
  position:absolute;
  right:0.35rem;
  top:0.5rem;
  color: blue;
  border-radius: 15px;
  background-color: white;
  font-size: 1rem;
}

.input-bar {
  height:1.25rem;
  width: calc(100% - 1rem);
  color: white;
  border-radius: 15px;
  border: .5px solid white;
  background-color: black;
  padding: .25rem;
  margin: 0 .25rem;
}

.message{
  background-color: black;
  color: white;
  width: 45vw;
  border-radius: 15px;
  margin-left: .5rem;
  padding: .5rem;
  text-align: left;
}